</html>
#parse( 'global/header.vm' )
<style type="text/css">
		input,textarea{
			width:200px;
			border:1px solid #ccc;
			padding:2px;
		}
</style>
<script type="text/javascript">
</script>
<body >
	 #parse('global/gobackbar.vm' )
	<div region="center" class="easyui-panel" title="修改" tools="#gobackbar" style="width:400px;margin:0px auto;">
	<form id="sysOrgFrm" method="post" action="doModify" >
	<table>
		 							<input id="id" name="id" type="hidden" value="$!{sysOrg.id}"/>
					  			    			    				    			    																	
				<tr>
    				<td>添加人:</td>
        			<td>
											<input type="text" id="appendBy" name="appendBy" value="$!{sysOrg.appendBy}" class="easyui-numberbox"  required='true' validType='length[1,18]'   maxLength='18'/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>添加时间:</td>
        			<td>
											<input type="text" id="appendTime" name="appendTime" value="$!{sysOrg.appendTime}" class="easyui-datetimebox"  required='true' validType='length[1,7]'   />
  					
					</td>
    			</tr>
					  			    			    				    			    																	
				<tr>
    				<td>状态:</td>
        			<td>
											<input type="text" id="status" name="status" value="$!{sysOrg.status}" class="easyui-numberbox"  required='true' validType='length[1,5]'   maxLength='5'/>
  					
					</td>
    			</tr>
					  			    			    				    			    																	
				<tr>
    				<td>修改人:</td>
        			<td>
											<input type="text" id="modifyBy" name="modifyBy" value="$!{sysOrg.modifyBy}" class="easyui-numberbox"   validType='length[0,18]'   maxLength='18'/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>修改时间:</td>
        			<td>
											<input type="text" id="modifyTime" name="modifyTime" value="$!{sysOrg.modifyTime}" class="easyui-datetimebox"   validType='length[0,7]'   />
  					
					</td>
    			</tr>
					  			    			    				    			    																	
				<tr>
    				<td>父节点:</td>
        			<td>
											<input type="text" id="parentId" name="parentId" value="$!{sysOrg.parentId}" class="easyui-numberbox"  required='true' validType='length[1,9]'   maxLength='9'/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>名称:</td>
        			<td>
											<input type="text" id="name" name="name" value="$!{sysOrg.name}" class="easyui-validatebox"  required='true' validType='length[1,32]'   maxLength=32/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>简称:</td>
        			<td>
											<input type="text" id="nameEn" name="nameEn" value="$!{sysOrg.nameEn}" class="easyui-validatebox"   validType='length[0,16]'   maxLength=16/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>描述:</td>
        			<td>
											<textarea id="desc" name="desc" onpropertychange= "this.style.posHeight=this.scrollHeight ">$!{sysOrg.desc}</textarea>
					
					</td>
    			</tr>
					  			    			    				    			    																	
				<tr>
    				<td>层次:</td>
        			<td>
											<input type="text" id="ladder" name="ladder" value="$!{sysOrg.ladder}" class="easyui-numberbox"  required='true' validType='length[1,5]'   maxLength='5'/>
  					
					</td>
    			</tr>
					  			    			    				    			    																	
				<tr>
    				<td>排序:</td>
        			<td>
											<input type="text" id="sort" name="sort" value="$!{sysOrg.sort}" class="easyui-numberbox"   validType='length[0,5]'   maxLength='5'/>
  					
					</td>
    			</tr>
					  	
	</table>
	</form>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" id="save" class="easyui-linkbutton" >Submit</a>
	    	<a href="javascript:void(0)" id="clear" class="easyui-linkbutton"  >Clear</a>
	    </div>
	</div>
</body>
</html>
<script type="text/javascript">
$(function(){
		/********select 选项表**********/
																																																				 
		/*********select**************/
		$('#save').click(function(){
			var flag = true;
		 $('#sysOrgFrm').each(function () {
    		if ($(this).attr('required') || $(this).attr('validType')) {
    			if (!$(this).validatebox('isValid')) {
        			flag = false;
        			return;
   		 		}
    		}
		})
		if (flag){
		var _data={
																id:$('#id').val() , 
        														appendBy:$('#appendBy').val() , 
        														appendTime:$('#appendTime').val() , 
        														status:$('#status').val() , 
        														modifyBy:$('#modifyBy').val() , 
        														modifyTime:$('#modifyTime').val() , 
        														parentId:$('#parentId').val() , 
        														name:$('#name').val() , 
        														nameEn:$('#nameEn').val() , 
        														desc:$('#desc').val() , 
        														ladder:$('#ladder').val() , 
        														sort:$('#sort').val()  
        						};
		var aj = $.ajax( {
				url : '$request.contextPath/${beanModeName}/sysOrg/doModify.json',// 跳转到 action     
				data : _data,
				type : 'post',
				dataType:'text',
				success : function(data) {
				 if (data.id!=0){
				 	$.messager.alert('提示','修改成功!','info');
					$("#sysOrg",parent.document.body).attr("src","$request.contextPath/${beanModeName}/sysOrg/browser");
				 }else{
					$.messager.alert('提示','修改失败!','info');
				 }
				},
				error : function() {
					$.messager.alert('提示','修改失败!','info');
				}
			});
		}
			
		});
		$('#clear').click(function(){
			$('#sysOrgFrm')[0].reset();
		});
		//返回
		$('#goback').click(function(){
			location.href="browser";
		});
});
</script>

