#parse( 'global/header.vm' )

		
<script type="text/javascript" src='$static_path/js/chtcktools/ctworkresult/browser.js?webName=$request.contextPath&CTWORKRESULT_CODE_DATA=${sof.getValRange('CTWORKRESULT','CODE')}&CTWORKRESULT_RUNWAY_DATA=${sof.getValRange('CTWORKRESULT','RUNWAY')}'></script>
<body>
	<table id="grid" width="350"></table>
	
</body>
</html>
<script type="text/javascript">
</script>


