</html>
#parse( 'global/header.vm' )
<style type="text/css">
		input,textarea{
			width:200px;
			border:1px solid #ccc;
			padding:2px;
		}
</style>
<script type="text/javascript">
</script>
<body >
	 #parse('global/gobackbar.vm' )
	<div region="center" class="easyui-panel" title="修改" tools="#gobackbar" style="width:400px;margin:0px auto;">
	<form id="sysAreaFrm" method="post" action="doModify" >
	<table>
		 							<input id="id" name="id" type="hidden" value="$!{sysArea.id}"/>
					  			    			    			    																	
				<tr>
    				<td>代码:</td>
        			<td>
											<input type="text" id="code" name="code" value="$!{sysArea.code}" class="easyui-validatebox"   validType='length[0,32]'   maxLength=32/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>名称:</td>
        			<td>
											<input type="text" id="name" name="name" value="$!{sysArea.name}" class="easyui-validatebox"   validType='length[0,32]'   maxLength=32/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>电话区号:</td>
        			<td>
											<input type="text" id="zipCode" name="zipCode" value="$!{sysArea.zipCode}" class="easyui-validatebox"   validType='length[0,4]'   maxLength=4/>
  					
					</td>
    			</tr>
					  			    			    			    																	
				<tr>
    				<td>邮编:</td>
        			<td>
											<input type="text" id="postCode" name="postCode" value="$!{sysArea.postCode}" class="easyui-validatebox"   validType='length[0,6]'   maxLength=6/>
  					
					</td>
    			</tr>
					  	
	</table>
	</form>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" id="save" class="easyui-linkbutton" >Submit</a>
	    	<a href="javascript:void(0)" id="clear" class="easyui-linkbutton"  >Clear</a>
	    </div>
	</div>
</body>
</html>
<script type="text/javascript">
$(function(){
		/********select 选项表**********/
																								 
		/*********select**************/
		$('#save').click(function(){
			var flag = true;
		 $('#sysAreaFrm').each(function () {
    		if ($(this).attr('required') || $(this).attr('validType')) {
    			if (!$(this).validatebox('isValid')) {
        			flag = false;
        			return;
   		 		}
    		}
		})
		if (flag){
		var _data={
																id:$('#id').val() , 
        														code:$('#code').val() , 
        														name:$('#name').val() , 
        														zipCode:$('#zipCode').val() , 
        														postCode:$('#postCode').val()  
        						};
		var aj = $.ajax( {
				url : '$request.contextPath/${beanModeName}/sysArea/doModify.json',// 跳转到 action     
				data : _data,
				type : 'post',
				dataType:'text',
				success : function(data) {
				 if (data.id!=0){
				 	$.messager.alert('提示','修改成功!','info');
					$("#sysArea",parent.document.body).attr("src","$request.contextPath/${beanModeName}/sysArea/browser");
				 }else{
					$.messager.alert('提示','修改失败!','info');
				 }
				},
				error : function() {
					$.messager.alert('提示','修改失败!','info');
				}
			});
		}
			
		});
		$('#clear').click(function(){
			$('#sysAreaFrm')[0].reset();
		});
		//返回
		$('#goback').click(function(){
			location.href="browser";
		});
});
</script>

